@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1195px;
    width: 90%;
    margin: 0 auto;
}

.nav {
    width: 100%;
}

.header {
    background-color: #a57548;
    padding: 10px 10px;
}

.header__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header__content-right {
    display: flex;
}

.header__content-left {
    display: flex;
    align-items: center;
    width: 30%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__item-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.logo__pic {
    height: 1em;
    width: 1em;
}

.logo__pic:hover {
    animation: logo 3s infinite;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo span {
    display: flex;
}

.arrow {
    height: 7vh;
}

.arrow img {
    height: 100%;
}

.main {
    position: relative;
    background-color: #fcd7ad;
}

.menu__small {
    display: none;
    z-index: 1;
}

.menu__small.active {
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #a57548;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.stripe {
    width: 80%;
    height: 10%;
    background-color: white;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fcd7ad;
    transform: translateX(-100%);
}

.menu .nav__list {
    flex-direction: column;
    position: relative;
}

.menu .nav__item {
    position: relative;
}

.menu .nav__item-link {
    color: black;
    font-size: 2em;
}

.arrow img {
    filter: invert(1);
}

.marrow {
    margin-left: -7px;
}

.marrow img {
    filter: invert(0);
}

.contacts {
    display: none;
}

.contacts.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7%;
    z-index: 1;
    background: #a57548;
    padding: 15px;
    height: 15%;
    justify-content: space-evenly;
    border: 2.1px #623307 solid;
}

.contact:hover {
    cursor: pointer;
}

.menu .contacts.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200%;
    right: 0;
    background: none;
    border: none;
}

.menu .nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -72%);
}

.point {
    position: relative;
}

.nav__item-link:hover::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #99500b;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 15px;
}

.point:hover::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #8f380f;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 15px;
}

.stripe {
    background-color: aliceblue;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.stripe.active:first-child {
    opacity: 1;
    display: block;
    transform: rotate(-45deg) translate(-9px, 6px);
}

.stripe.active {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.stripe.active:last-child {
    opacity: 1;
    display: block;
    transform: rotate(45deg) translate(-16px, -11px);
}

.footer {
    height: auto;
    background-color: #C5874D;
    padding: 50px 10px 0 10px;
    color: white;
    font-weight: bold;
    font-size: 1.05em;
}

.footer__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__content-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
}

.footer__content-left-logo {
    width: 50%;
}

.footer__content-left-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.footer__content-left-desc span {
    margin-bottom: 10px;
}

.footer__content-right {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__content-right-inf {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
}

.footer__content-right-inf div {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.footer__content-right-inf span {
    margin-bottom: 25px;
}

.feedback {
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid white;
    width: 70vw;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feed {
    color: white;
    text-decoration: none;
}

.feedback__title {
    margin-bottom: 5%;
    text-align: center;
}

input::placeholder {
    color: #8d8585;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    color: #8d8585;
}

.user input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    color: white;
    font: inherit;
    background-color: inherit;
}

.user input:focus,
.user input:active {
    border: 1px solid white;
    outline: none;
}

.user {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user__info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address__data {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.partners__h3 {
    margin-bottom: 5%;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.comment textarea {
    background: inherit;
    font: inherit;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.comment textarea:focus,
.comment textarea:active {
    border: 1px solid white;
    outline: none;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}

h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    height: 29vw;
    width: calc(50vw - 18.5px);
}

#map {
    width: 50%
}

.bx-wrapper {
    width: 775px;
}

.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 720px) {
    .nav__item {
        margin-left: 10px;
    }
    #map {
        height: auto;
    }
}

@media (max-width: 480px) {
    .header__content-left {
        display: none;
    }
    .header__content {
        justify-content: center;
    }
    .main__content {
        font-size: 1em;
    }
    .header__content-right {
        display: flex;
        width: 100%;
        justify-content: space-between
    }
    .menu__small {
        display: block;
    }
    .partners__title {
        font-size: 1em;
    }
    #map {
        height: auto;
        display: flex;
        align-items: center;
    }
}